.cta {
    background-color: var(--primary1);
}

.cta h1 {
    color: var(--primary2);
}

.cta h2,
.cta p {
    color: white
}

.cta {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.cta img {
    position: relative;
    bottom: -60px;
}