.specials>section:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.specials {
    padding: 1rem;
}

.specials>section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}