.card {
    background-color: var(--secondary3);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.card>img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card>div {
    padding: 1rem;
}

.card>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h6 {
    color: var(--primary1);
}

.card h4+h6 {
    color: var(--secondary1);
}