.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

nav>ul {
  display: flex;
  gap: 2rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  nav>ul {
    flex-direction: column;
  }
}

h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 0;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 40px;
  margin-top: 0;
}

h3, nav li {
  font-family: 'Karla';
  font-weight: 800;
  font-size: 20px;
}

h4 {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 18px;
}

h5 {
  font-family: 'Karla';
  font-weight: 800;
  font-size: 16px;
}

h6 {
  font-family: 'Karla';
  font-weight: 500;
  font-size: 14px;
}

p, button {
  font-family: 'Karla';
  font-weight: 500;
  font-size: 18px;
}

span {
  font-family: 'Karla';
  font-size: 16px;
  line-height: 1.5;
}

main img, button {
  border-radius: 16px;
}

:root {
  --primary1: #495E57;
  --primary2: #F4CE14;
}

.cta {
  background-color: var(--primary1);
}

.cta h1 {
  color: var(--primary2);
}

.cta h2, .cta p {
  color: white
}

.cta {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.cta > div:first-child {
  flex: .5;
}

.cta img {
  position: relative;
  bottom: -60px;
}

button {
  background-color: var(--primary2);
  color: black;
  padding: 1rem;
}